#rma-widget, #ad-container {
  width: 320px;
  height: 480px;
}

#ad-container {
  position: absolute;
}

#mixMatchContainer {
  position: absolute;
  top: 315px;
}

#questionaire {
  position: absolute;
  width: 320px;
  text-align: center;
  bottom: 29px;
}

#social {
  position: absolute;
  bottom: 10px;
  left: 32px;
}

#btnInfo {
  position: absolute;
  bottom: 24px;
  right: 18px;
}

.form input {
  display: block;
  margin: 0 auto 12px;
  outline: none;
}

.form input:focus {
  box-shadow: none;
}

.form input[type="text"], .form input[type="email"] {
  width: 250px;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  border: 1px solid #028639;
  border-radius: 5px;
}

::placeholder {
  color: #028639;
}

.container {
  margin: 0;
  padding: 0;
}

.page {
  width: 320px;
  height: 480px;
  position: absolute;
}

.card {
  position: absolute;
  margin: 0;
  display: block;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.blur-out {
  filter: blur(8px);
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

.blurring {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transition: all 0.8s ease-in;
}

.blur-in {
  filter: blur(0px);
  opacity: 1;
  visibility: visible;
}
